.edit-td .edit-area {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  
  /* заборонити змінювати розмір в Firefox */
  resize: none;
  
  /* позбутися рамки при фокусуванні в Chrome */
  outline: none;
  
  /* позбутися прокрутки в IE */
  overflow: auto;
}

.edit-controls {
  position: absolute;
}

.edit-td {
  position: relative;
  padding: 0;
}